#formacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#formacao h2{
    font-family: var(--fonte-titulo); 
    font-size: 2.3rem; 
    background-image: var(--gradient-titulo);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    white-space: nowrap;
}

#formacao ul{
    padding: 1rem;
    list-style-type: none;
    display: grid;
    max-width: 1000px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding-bottom: 3rem;

}

#formacao ul li{
    background-image:var(--cor-background-terceraria);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: var(--cor-fonte-primaria);
    border-radius: 8%;
    border-bottom: 2px solid var(--cor-fonte-principal);
    box-shadow: 1px 1px 10px 2px rgb(58, 58, 58); 
    font-size: .9rem;
   
}

#formacao ul li:nth-child(1){
    order: 4;
}

#formacao ul li:nth-child(2){
    order: 5;
}

#formacao ul li:nth-child(3){
    order: 6;
}


.formacao-imagem{
    margin: 1rem;
    border-radius: 20%;
    background-color: var(--cor-fonte-principal);
}

#formacao ul li img{
    min-width: 100px;
    max-width: 100px;
    max-height: 100px;
    min-height: 100px;
    margin: 1rem;
}

.formacao__texto{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 1rem;
    color: var(--cor-fonte-principal);
}