
.cabecalho{
    margin: 0 auto;
    width: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--cor-background-secundaria); 
}

.cabecalho__logo img{
    max-width: 6.25rem;
    
}

.cabecalho__links{
    display: flex;
    list-style-type: none;
    gap: 1.5rem; 
}

.cabecalho__link{
    text-decoration: none;
    color: var(--cor-fonte-principal);
    font-family: var(--fonte-titulo);
    font-weight: 600;
    font-size: 1rem;
}

.cabecalho__link:hover{
    border-bottom: 2px solid var(--cor-fonte-hover);
    border-radius: 5px;
}