
.cabecalho{
    margin: 0 auto;
    width: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--cor-background-secundaria); 
}

.cabecalho__logo img{
    max-width: 6.25rem;
    
}

.cabecalho__link-icone{
    display: none;
    
}

.cabecalho__links{
    display: flex;
    list-style-type: none;
    gap: 1rem; 
}

.cabecalho__link{
    text-decoration: none;
    color: var(--cor-fonte-principal);
    font-family: var(--fonte-titulo);
    font-weight: 600;
    font-size: 1rem;
    filter: drop-shadow(2px 2px 2px black);
}

.cabecalho__link:hover{
    border-bottom: 2px solid var(--cor-fonte-hover);
    border-radius: 5px;
}

@media screen and (max-width:900px) {

    .cabecalho__link-icone{
        display: block;
        font-family: var(--fonte-titulo);
        font-weight: 600;
        font-size: 1.7rem;
        color: rgba(51, 255, 75, 0.637);
        filter: drop-shadow(1px 5px 1px rgb(18, 58, 26));
        
    }

    .cabecalho__link{
        display: none;
    }

}
