
.container{
    width: 100%;
    height: 100%;
    background-image: var(--cor-background-terceraria);
}

#menssagem-enviada{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--cor-fonte-principal);
    gap: 2rem;
    
}

#menssagem-enviada h1{
    font-size: 2rem;
    font-weight: 700;
}

#menssagem-enviada h3{
    font-size: 1.5rem;
    font-weight: 500;
}

#menssagem-enviada a{
    text-decoration: none;
    color: var(--cor-fonte-principal);
    border: 2px solid var(--cor-fonte-principal);
    padding: 1rem 3rem 1rem 3rem;
    
}

#menssagem-enviada a:hover{
    
    color: var(--cor-fonte-hover);
    border: 2px solid var(--cor-fonte-hover);
    
    
}