#projetos{
    padding-top: 2rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

.projetos__projeto{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    padding-bottom: 4rem;
}

.projetos__projeto-img{
    box-shadow: 1px 1px 10px 2px rgb(0, 0, 0);
    max-width: 60%;
}

.projetos__projeto-img img{ 
    width: 100%;
}


.projetos__projeto-textos{
   display: flex ;
   flex-direction: column;
   gap: 1rem;
}

.projetos__projeto-textos h3{
    font-weight: 700;
    font-size: 1.37rem;
    color: var(--cor-fonte-secundaria);
}

.projetos__projeto-textos p{
    font-weight: 500;
    font-size: 1rem;
    color: var(--cor-fonte-secundaria);
}

.projetos__projeto-btns{
    display: flex;
    flex-direction: row; 
    justify-content:space-evenly ;
}

.projeto-btn{
    padding: 1rem;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    
}

.projeto-btn:hover{
    border: 1px solid;
}

.btn-repositorio{
    color: var(--cor-fonte-hover);
    border: 2px solid var(--cor-fonte-hover);
    background-color: transparent;
}

.btn-demo{
    color: var(--cor-fonte-principal);
    border: 2px solid var(--cor-fonte-hover);
    background-color: var(--cor-fonte-hover);
}

.row-reverse{
    display: flex;
    flex-direction: row-reverse;
}



@media screen and (max-width:900px) {

    .projetos__projeto-btns{
        flex-direction: column; 
        gap: 5px;
        
    }
   
}

@media screen and (max-width:650px) {

    .projetos__projeto{
        flex-direction: column;
        gap: 1rem;
        padding-bottom: 2rem;
    }

    .projetos__projeto-img{
        box-shadow: 1px 1px 10px 2px rgb(0, 0, 0);
        max-width: 100%;
    }

    .projetos__projeto-btns{
        flex-direction: row; 
        gap: 5px;
        
    }

}